// Choose one of these to be your mainTheme color
$green: hsl(151, 65%, 60%);
$blue: hsl(216, 65%, 60%);
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);
$offBlack: hsl(10, 1%, 22%);

$codeFont: Monaco, Consolas, monospace;
$postFont: 'Merriweather', serif;
$headerFont: 'Open Sans', sans-serif;

$mainTheme: $green;
$baseTextColor: $offBlack;

@mixin breakpoint($point) {
  @if $point == big-phone {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 630px)  { @content; }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  margin: 0;
  color: $baseTextColor;
  -webkit-font-smoothing: antialiased;
  font-family: $headerFont;
  font-size: 17px;

  @include breakpoint(big-phone) {
    font-size: 16px;
  }

  @include breakpoint(small-phone) {
    font-size: 12px;
  }
}

.content {
  margin: 0 auto;
  max-width: 680px;
  width: 55%;

  a {
    color: $baseTextColor;
    @include transition(color 0.2s);

    &:hover {
      color: darken($mainTheme, 10);
    }
  }

  @include breakpoint(big-phone) {
    margin: 45px auto;
    width: 86%;
  }
}

.pagination {
  padding: 20px 0;

  li {
    float: left;
  }

  a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.7em;
    font-family: "Open Sans", sans-serif;
  }

  .active-page {
    color: $mainTheme;
  }
}

.cabin {
  position: fixed;
  right: .5em;
  bottom: .5em;
  width: 1.6em;
  opacity: .2;

  &:hover {
    opacity: .6;
  }

  @include breakpoint(big-phone) {
    display: none;
  }
}

@mixin clearfix {
  &:after {
  content: "";
  display: table;
  clear: both;
  }
}

.group {
  @include clearfix;
}
