<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
  <link href="/monokai.css" rel="stylesheet">
</head>
<body>
  <ul>
    <li><a href="/blog">Blog</a></li><li><a href="/">Home</a></li>
  </ul>
</body>
</html>
