/*Icon Set: IcoMoon - Free -- http://keyamoon.com/icomoon/*/
/*License:  CC BY 3.0 -- http://creativecommons.org/licenses/by/3.0/*/

/*
Note: To edit icons, go to the following url: http://icomoon.io/app/
      Then click the stacked circle icon in the bottom right and upload the CandyIcoMoonSession.json file from this folder
      After updating the icons simply download them and copy the fonts folder along with style.css into this folder and rename style.css to _icons.scss
*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
 [data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

 /* Use the following CSS code if you want to have a class per icon */
 /*
 Instead of a list of all class selectors,
 you can use the generic selector below, but it's slower:
 [class*="icon-"] {
 */
.icon-pinterest, .icon-github, .icon-twitter, .icon-menu, .icon-dribbble, .icon-facebook, .icon-google-plus {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-pinterest:before {
  content: "\e000";
}
.icon-github:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-menu:before {
  content: "\e003";
}
.icon-dribbble:before {
  content: "\e004";
}
.icon-facebook:before {
  content: "\e005";
}
.icon-google-plus:before {
  content: "\e006";
}

