nav {
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  background: $mainTheme;
  overflow: hidden;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  @include breakpoint(big-phone) {
    width: 100%;
    height: auto;
    @include clearfix;
  }
}

.name {
  position: relative;
  z-index: 100;
  font-weight: normal;
  font-size: 2em;
  margin: 30px 0;
  padding: 0 1.5em;

  @include breakpoint(big-phone) {
    padding: 0 1em;
    margin: 5px 0;
    float: left;
  }
}

.menu {
  text-align: right;
  cursor: pointer;
  color: white;
  display: none;
  margin: 0 0 0 .9em;
  padding: .75em .8em;

  @include breakpoint(big-phone) {
    display: block;
  }
}

.nav-links {
  background: $mainTheme;
  padding: 0 50px;
  font-size: 1.4em;

  a {
    display: block;
    padding: 0 0 .55em;
  }


  @include breakpoint(big-phone) {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;

    a {
      display: block;
      padding: .55em .9em;
    }
  }
}


.social-media {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.8em;
  line-height: 2em;

  a {
    margin: 0 10px;

    &:hover {
      text-decoration: none;
      color: $baseTextColor;
    }
  }

  @include breakpoint(big-phone) {
    display: none;
  }
}
