.post-head {
  border-bottom: 1px solid hsl(10, 1%, 82%);
  margin: 2em 0;
  padding-bottom: 5px;
  position: relative;
  float: left;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.post-title {
  float: left;
  padding-right: 4.8em;
  margin: 5px 0;
  font-size: 1.7em;
}

.post-date {
  position: absolute;
  bottom: 10px;
  margin: 0;
  right: 0;
  font-size: 1.3em;
  opacity: 0.4;
}

.post-body {
  margin-bottom: 1.2em;
  font-family: $postFont;
  line-height: 1.65em;

  img {
    max-width: 100%;
  }
}

.social {
  padding: .55em 0 1.4em;
}

.anchor {
  text-decoration: none;
}

// Inline code element
p code {
  background: hsl(240, 100%, 96%);
  border: 1px solid hsl(0, 0%, 90%);
  padding: 0 0.23em;
  @include border-radius(3px);
}

code {
  margin: 0;
  padding: 0;
  font-size: .8em;
  line-height: 1.5em;
  font-family: $codeFont;
}

pre {
  font-family: $codeFont;
  overflow: auto;
}

.highlight {
  @include border-radius(3px);

  pre {
    padding: 15px;
  }
}
