//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="/#{post.url}")
      h1.post-title= post.title
    h2.post-date!= [post.date.getUTCFullYear(), post.date.getMonth() + 1, post.date.getDate()].join(' &#183; ')

mixin post(post)
  mixin postHead(post)
  .post-body!= post.content

doctype 5
html
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width")
    link(rel="icon", type="image/png", href="/images/cabin.png")
    link(href="/styles/main.css", rel="stylesheet")
    block title
      title= "My Blog"
  body
    nav
      h1.name
        a(href="/") My Name
      ul.nav-links
        li.menu.icon-menu
        li.text-link
          a(href="/about.html") about
        li.text-link
          a(href="/projects.html") projects
        li.text-link
          a(href="/archives.html") archives

      .social-media
        a.icon-github(href="https://github.com/")
        a.icon-twitter(href="https://twitter.com/")
        a.icon-pinterest(href="http://pinterest.com/")

    .content
      block content
    a(href="http://colinwren.github.io/Cabin/")
      img.cabin(src="/images/cabin.png")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/scripts/main.js")
    script.
        //- Add Your analytics code here
