<div class="post-head group">
  <a href="<%= post.url %>">
    <h1 class="post-title"><%= post.title %></h1>
  </a>
  <h2 class="post-date"><%= [post.date.getUTCFullYear(), post.date.getMonth() + 1, post.date.getDate()].join(' · ') %></h2>
</div>
